* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;

  background: linear-gradient(to bottom,
      #FC5201 2%,
      #ffffff 14%,
      #ffffff 20%,
      #ffffff 40%,
      #ffffff 56%,
      #FC5201 60%);
}


section:not(.homepage) {
  min-height: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  scroll-snap-align: start;
  margin-bottom: 0px;
}

.aboutus,
.features,
.art,
.history {
  margin: 0;
  position: relative;
}

.homepage {
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 200px;
  padding: 20px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 2px solid white;
}

.logo {
  width: 500px;
  height: auto;
}

.main-nav {
  position: relative;
  right: 75px;
  top: 300px;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: opacity 0.2s;
  font-size: 20px;
}

.runner-icon {
  position: relative;
  top: 325px;
  width: 100px;
  height: auto;
  transform: scaleX(-1);
}

.main-nav a:hover {
  opacity: 0.7;
}

.header {
  position: absolute;
  top: 0px;
  left: 60px;
  font-size: 34px;
  opacity: 0.25;
  text-align: left;
  z-index: 9999;
  pointer-events: auto;
  transform: translateZ(0);

  transition: all 0.3s ease;
}

.header:hover {
  opacity: 1;
  transform: translateZ(0) scale(1.3);
}

.aboutus {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  z-index: 1;
  overflow: hidden;

}

.aboutus .header {
  color: #ffffff;
}

.text-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(50px);
  opacity: 0;
  max-width: 800px;
  text-align: center;
  font-size: 35px;
  line-height: 1.8;
  color: white;
  transition: all 1.4s ease-in-out;
}

.text-layer.active {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

.aboutus p {
  position: relative;
  font-size: 33px;
  max-width: 800px;
  line-height: 1.8;
  background: linear-gradient(to bottom,
      #ffffff 34%,
      #E47A48 37%,
      #FC5201 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.features h2 {
  font-size: 35px;
  color: #FC5201;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
}

.feature img {
  width: 40%;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.30));
}

.feature .text {
  width: 50%;
  text-align: left;
  font-size: 24px;
  color: black;
}

.feature.reverse {
  flex-direction: row-reverse;
}

.art {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 180vh;
  padding: 150px 0;
  overflow: hidden;
}

.art .header {
  color: #FC5201;
}

.art-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  font-size: 33px;
  line-height: 1.8;
  background: linear-gradient(to bottom,
      #FC5201 34%,
      #E47A48 36%,
      #ffffff 70%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.art-text.fade-out {
  opacity: 0;
  transform: translate(-50%, calc(-50% - 40px));
}

.art-grid {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%) scale(0.95);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 60px;
  max-width: 950px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease, transform 1s ease;
}

.art-grid .card:nth-child(1) {
  grid-column: 1;
}

.art-grid .card:nth-child(2) {
  grid-column: 3;
}

.art-grid .card:nth-child(3) {
  grid-column: 5;
}

.art-grid .card:nth-child(4) {
  grid-column: 2;
}

.art-grid .card:nth-child(5) {
  grid-column: 4;
}

.art-grid.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 200px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: none;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  color: #111;
  font-weight: 600;
  letter-spacing: 1px;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card.show {
  animation: fadeUp 0.8s ease-out forwards;
}

.card:hover {
  transform: translateY(-5px);
}


.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.event {
  position: relative;
  text-align: center;
  font-size: 35px;
  max-width: 800px;
  line-height: 1.6;
  color: white;
  z-index: 1;
  margin: 80px 0;
  margin-bottom: 170px;
}

.event:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100px;
  background-color: white;
}

.site-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.end-logo {
  width: 150px;
  height: auto;
  margin: 0px;
}

.end-runner {
  width: 50px;
  height: auto;
  margin: 0px;
  transform: scaleX(-1);
}

.end-nav {
  font-size: 15px;
  height: auto;
  margin: 0px;
  color: white;

  text-decoration: none;

  transition: all 0.3s ease;
}

.end-nav:hover {
  color: grey;
}

.strava-copy {
  font-size: 7px;
}

@media (max-width: 1100px) {

  .logo {
    width: 300px;
  }

  .main-nav {
    right: 0;
    top: 50px;
  }

  .feature {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .feature.reverse {
    flex-direction: column;
  }

  .feature img {
    width: 70%;
  }

  .feature .text {
    width: 80%;
    text-align: center;
  }

  .art-grid {
    transform: translate(-50%, -50%) scale(0.8);
  }
}



@media (max-width: 800px) {

  body {
    overflow-x: hidden;
  }

  .logo {
    width: 230px;
  }

  .main-nav ul {
    flex-direction: row;
    gap: 20px;
  }

  .main-nav {
    top: 20px;
    right: 0;
  }

  .header {
    left: 20px;
    font-size: 26px;
  }

  .text-layer {
    font-size: 26px;
    max-width: 90%;
  }

  .feature img {
    width: 90%;
  }

  .feature .text {
    width: 90%;
    font-size: 20px;
  }

  .art-text {
    font-size: 26px;
    max-width: 90%;
  }
}



@media (max-width: 650px) {

  .art-grid {
    grid-template-columns: 1fr;
    left: 50%;
    row-gap: 30px;
  }

  .art-grid .card:nth-child(1),
  .art-grid .card:nth-child(2),
  .art-grid .card:nth-child(3),
  .art-grid .card:nth-child(4),
  .art-grid .card:nth-child(5) {
    grid-column: auto;
  }

  .card {
    width: 260px;
  }

  .event {
    font-size: 26px;
    max-width: 90%;
  }
}

@media (max-width: 1100px) {

  .feature,
  .feature.reverse {
    flex-direction: column;
    text-align: center;
  }

  .feature img {
    width: 75%;
  }

  .feature .text {
    width: 85%;
    text-align: center;
  }

  .header {
    font-size: 28px;
    left: 30px;
  }

  .text-layer,
  .art-text {
    font-size: 28px;
  }

  .logo {
    width: 350px;
  }
}


@media (max-width: 800px) {

  body {
    overflow-x: hidden;
  }

  .main-nav {
    top: 40px;
    right: 20px;
  }

  .main-nav ul {
    flex-direction: row;
    gap: 15px;
  }


  .header {
    left: 20px;
    font-size: 24px;
  }

  .text-layer,
  .art-text {
    font-size: 24px;
    max-width: 90%;
  }


  .feature img {
    width: 85%;
  }
}


@media (max-width: 650px) {


  .art-grid {
    grid-template-columns: 1fr;
    left: 50%;
    row-gap: 25px;
  }

  .art-grid .card:nth-child(n) {
    grid-column: auto;
  }

  .card {
    width: 260px;
  }


  .event {
    font-size: 26px;
    max-width: 90%;
  }


  .text-layer {
    font-size: 22px;
  }

  .art-text {
    font-size: 22px;
  }
}

@media (max-width: 1100px) {


  .logo {
    width: 350px;
  }


  .main-nav {
    top: 20px;
    right: 0;
    position: absolute;
  }

  .main-nav ul {
    flex-direction: row;
    gap: 22px;
    align-items: center;
    justify-content: flex-end;
  }

  .main-nav a {
    font-size: 18px;
  }

  #aboutus {
    margin-bottom: 100px;
  }

  #art {
    margin-bottom: 100px;
  }

  .art-grid {
    column-gap: 2px;
  }

  .end-logo {
    width: 200px;
  }

  .end-nav {
    font-size: 25px;
  }

  .strava-copy {
    font-size: 15px;
  }



  .feature,
  .feature.reverse {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .feature img {
    width: 70%;
  }

  .feature .text {
    width: 85%;
    text-align: center;
  }


  .text-layer {
    font-size: 30px;
    max-width: 90%;
  }

  .art-text {
    font-size: 30px;
    max-width: 90%;
    color: white;
  }
}

@media (max-width: 800px) {

  body {
    overflow-x: hidden;
  }

  .logo {
    width: 250px;
  }

  .main-nav {
    top: 55px;
    right: 235px;
  }

  .main-nav ul {
    gap: 25px;

  }

  .main-nav a {
    font-size: 25px;
  }


  .runner-icon {
    top: 5px;
    left: 625px;
    width: 40px;
  }


  .header {
    left: 20px;
    font-size: 24px;
  }


  .text-layer,
  .art-text {
    font-size: 30px;
    max-width: 90%;
  }


  .feature img {
    width: 85%;
  }

  .feature .text {
    font-size: 20px;
  }


  .art-grid {
    transform: translate(-50%, -50%) scale(0.85);
    column-gap: 2px;
    row-gap: 25px;
    max-width: 88.75%;
  }

  .card {
    width: 150px;
  }

  .card p {
    font-size: 12px;
  }

  .end-nav {
    font-size: 30px;
  }
}



@media (max-width: 650px) {

  #aboutus p {
    margin-top: 50px;
  }

  #features .feature {
    margin-top: 30px;
  }

  .site-header {
    margin-top: 50px;
  }

  .main-nav {
    top: 55px;
    right: 55px;
  }

  .main-nav ul {
    gap: 40px;
  }

  .main-nav a {
    font-size: 24px;
  }

  .runner-icon {
    display: none;
  }


  .art-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    left: 50%;
    row-gap: 25px;
    column-gap: 20px;
    transform: translate(-50%, -50%) scale(1);
    max-width: 90%;
  }


  .art-grid .card:nth-child(n) {
    grid-column: auto;
    grid-row: auto;
  }

  .card {
    width: 140px;
  }

  .card img {
    width: 100%;
  }

  .card p {
    font-size: 10px;
  }

  .text-layer,
  .art-text {
    font-size: 30px;
  }

  .event {
    font-size: 26px;
    max-width: 90%;
  }

  .runner-icon {
    width: 55px;
    top: 280px;
  }
}